<br>
<br>
<div style="text-align:center;">
<h1 style="color: #cc5721;">
    <i>
        <b>Spoilerinator9000</b>
    </i>
</h1>
<%= link_to 'Send New Spoiler', 'spoilers/new' %>
<br>
<div style="height: 60vh;"></div>
<hr>
<p>Copyright Ignas Panero Armoska 2020</p>
</div>
