<%= form_tag do %>
<div style="text-align:center;">
    <h1>Send Email</h1>
    <br>
    <%= text_field_tag :email %>
    <br><br>
    <%= submit_tag value = "Ruin someone's day!" %>
    </div>
<% end %>